.maxsulot{
    margin: 0;
    padding: 0;
    padding-top: 100px;
}

.maxsulot__list{
    list-style-type: none;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.maxsulot__item{
    width: 18%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #A0A0A0;
    box-shadow: 0px 10px 35px -8px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    margin-bottom: 62px;
    padding-bottom: 20px;
}

.maxsulot__img{
    width: 100%;
    height: 170px;
}

.maxsulot__name, .maxsulot__fullname, .maxsulot__artistname, .maxsulot__guarantee, .maxsulot__usingdate{
    color: #999999;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding: 0;
}

.maxsulot__artistname{
    margin-bottom: 5px;
}

.maxsulot__guarantee, .maxsulot__usingdate{
    display: block;
    margin-bottom: 5px;
}

.maxsulot__fullname{
    margin: 5px 0px;
}

.booking__btn{
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.maxsulot__text{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #8B8B8B;
}

@media only screen and (max-width:568px){
    .container, .maxsulot, .maxsulot__list{
        width: 100%;
    }

    .maxsulot__list{
        display: flex;
        flex-wrap: wrap;
    }

    .maxsulot__item{
        width: 47%;
        margin-bottom: 10px;
    }

    .maxsulot{
        padding-top: 20px;
    }
    
}