.footer{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer__about{
    width: 296px;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

.footer__abouttext, .footer__emaillink, .footer__tellink{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(0, 0, 0, 0.85);
    display: block;
    margin: 23px 0px;
}

.footer__emaillink, .footer__tellink{
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding-left: 30px;
}

.footer__emaillink::before{
    position: absolute;
    content: "";
    background-image: url(../../Assets//Images/Email.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    top: 5px;
    left: 0;
}

.footer__tellink::before{
    position: absolute;
    content: "";
    background-image: url(../../Assets/Images/Phone.png);
    background-repeat: no-repeat;
    top: 3px;
    left: 0px;
    width: 21px;
    height: 21px;
}

.footer__service{
    margin: 0;
    padding: 0;
    width: 201px;
}

.footer__title{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #747474;
    margin: 0;
    padding: 0;
}

.footer__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__item{
    margin: 0;
    padding: 0;
}

.footer__itemlink{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.3px;
    color: rgba(0, 0, 0, 0.85);
}

@media only screen and (max-width:568px){
    .container, .footer, .footer__about{
        width: 100%;
    }

    .footer__about .logo{
        width: 100px;
    }

    .footer{
        display: flex;
        flex-wrap: wrap;
    }

    .footer__about{
        text-align: center;
    }
    
    .footer__emaillink::before{
        left: 20%;
    }

    .footer__tellink::before{
        left: 20%;
    }

    .footer__service{
        width: 47%;
        text-align: center;
    }
}



