.container{
    width: 1240px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: #00C2FF;
    height: 700px;
}

main{
    background-color: F5F5F5;
}

footer{
    background-color:#CCCCCC;
    padding-top: 61px;
    padding-bottom: 15px;
}

@media only screen and (max-width: 375px){
    header{
        height: 280px;
    }
}

@media only screen and (max-width: 576px){
    header{
        height: 430px;
    }

    main{
        padding-top: 20px;
    }

    footer{
        padding-top: 30px;
    }
}

@media only screen and (max-width:400px){
    header{
        height: 370px;
    }
}

@media only screen and (max-width:356px){
    header{
        height: 300px;
    }
}

@media only screen and (max-width:344px){
    header{
        height: 270px;
    }
}

@media only screen and (max-width:768px){
    header{
        height: 600px;
    }

    footer{
        padding-top: 30px;
    }
}